.rodapie__titulo{
    display: flex;
    color: #fdfdfd;
    font-weight: 400;
    font-size: 1.25rem;
    align-items: center;
    padding: 1.5625rem;
}

@media screen and (min-width:0) {
    .rodapie__titulo{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .rodapie__titulo{
        font-size: 1.25rem;
    }
}